<div class="row">
    <div class="col-md-4">

        <img src="~/Images/bike.jpg" />
    </div>
    <div class="col-md-4">
        <br /><br /><br /><br />
        <address>
            2700 Bay Area Blvd<br />
            Houston, TX 77058<br />
            <abbr title="Phone">P:</abbr>
            999-999-999
        </address>

        <address>
            <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
        </address>

    </div>
    <div class="col-md-4">

    </div>
</div>
